.body-container {
    background: linear-gradient(to bottom, #b7e4c7, #ffffff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333333;
  }
  
  h3 {
    color: #007f3e;
  }
  
  p, ul {
    color: #555555;
    line-height: 1.6;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  